{% extends "layouts/default.html" %}

{% load cmsproducts thumbnail sekizai_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>{{ object.title }}</li>
{% endblock %}

{% block whole_content %}
    {% addtoblock "css" %}
        <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet" />
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}js/lightbox.min.js"></script>
    {% endaddtoblock %}

    <div class="col-md-4">
        <div>
            <a href="{{ MEDIA_URL }}{{ object.get_first_image.image }}" data-lightbox="{{ object.title }}">
                <img src="{% thumbnail object.get_first_image.image 420x820 %}" alt="{{ object.title }}" />
            </a>
            {% if object.special_offer %}
              <div class="corner-top-right">{{ object.special_offer }}</div>
            {% endif %}
        </div>
        <div class="more-images">
            {% for product_image in object.get_more_images %}
                <a href="{{ MEDIA_URL }}{{ product_image.image }}" data-lightbox="{{ object.title }}">
                    <img src="{% thumbnail object.get_first_image.image 120x120 upscale %}" alt="{{ object.title }}" />
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8">
        <h1>
          {{ object.title }}
          {% if object.price %}
            <p class="bg-primary header-price">{{ object.price }}€</p>
          {% endif %}
        </h1>
        <div>
          {{ object.content|safe }}
        </div>

        {% if object.link %}
            <p><a href="{{ object.link }}" target="_blank">
              <i class="fa fa-external-link"></i> Infos
            </a></p>
        {% endif %}
        {% if object.document %}
            <p><a href="{{ MEDIA_URL }}{{ object.document }}" target="_blank">
              <i class="fa fa-file"></i> Download
            </a></p>
        {% endif %}

        <p>
          {% for category in object.product_categories.all %}
                <a href="{{ category.get_absolute_url }}">Zurück zur Produkt-Kategorie "{{ category.title }}"</a><br />
          {% endfor %}
        </p>
    </div>

    <div class="clearfix"></div>

    <hr>

    {% if next %}
      <a href="{{ next.get_absolute_url }}"
         class="pull-right btn btn-secondary btn-lg"
         title="{{ next.name }}">
        Weiter
        <i class="fa fa-angle-double-right"></i>
      </a>
    {% endif %}
    {% if previous %}
      <a href="{{ previous.get_absolute_url }}"
         class="btn btn-secondary btn-lg"
         title="{{ previous.name }}">
        <i class="fa fa-angle-double-left"></i>
        Zurück
      </a>
    {% endif %}
{% endblock %}
