{% extends "layouts/sidebar_left.html" %}
{% load cms_tags sekizai_tags thumbnail cmsproducts %}

{% block sidebar %}
    {% include "djangocms_product/product_filter.html" with filter_tag='product' %}
{% endblock %}

{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/masonry.css">
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}js/imagesloaded.pkgd.min.js"></script>
        <script src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.history.js"></script>
    {% endaddtoblock %}

    <h1>Unsere Produkte</h1>
    <div id="masonry-loader">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
    </div>
    <div id="masonry-container">
        {% for product in object_list %}
            <div class="masonry-item one-third{% for cat in product.product_categories.all %} news-{{ cat.pk }}{% endfor %}">
                <div class="masonry-item-image">
                    <a href="{% productitem_url product.slug %}">
                        {% if product.productimage_set.all %}
                            {% with product.productimage_set.all|first as product_image %}
                                <img src="{{ product_image.image|thumbnail_url:'masonry' }}" alt="{{ product.title }}" />
                            {% endwith %}
                        {% endif %}
                        <div class="masonry-item-title">{{ product.title }} <i class="fa fa-angle-double-right"></i>
                        </div>
                    </a>
                </div>

                <div class="masonry-item-description">
                    {% if product.abstract %}
                        {{ product.abstract|safe }}
                    {% else %}
                        {{ product.content|safe }}
                    {% endif %}
                    <a class="pull-right" href="{% productitem_url product.slug %}">Mehr...</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="masonry-no-content">
        <i class="fa fa-meh-o fa-5x fa-fw"></i> <span>Keine Inhalte gefunden!</span>
    </div>
    <div id="masonry-pagination">
        {% include 'djangocms_product/product_pagination.html' %}
    </div>
{% endblock %}